<!DOCTYPE html>
<html>
    {{- partial "header.html" . -}}
    <body>
        <div class="content">
        {{- partial "head.html" . -}}
        {{- block "main" . }}{{- end }}

        <!-- 添加搜索功能 -->
       <!-- <div id="fastSearch">
            <input id="searchInput" tabindex="0">
            <ul id="searchResults"></ul>
        </div>-->
<!--         <script src="/js/fuse.js"></script> download and copy over fuse.js file from fusejs.io -->
<!--         <script src="/js/fastsearch.js"></script> -->

        {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
